dulwich==0.20.46
paramiko==2.11.0
pypass==0.2.1
Babel==2.10.3
pyotp==2.6.0
Pillow==9.2.0
pyscreenshot==3.0
zbar-py==1.0.4
python-dateutil==2.8.2
numpy>=1.22.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
